<%- include('../partials/header')%>
<%- include('../partials/navbar')%> 


<div class="container" style="margin-top: 3rem;">
<form class="validated-form" action="/blogs/<%=blog._id%>?_method=PATCH" method="POST" style="width: 35rem; margin: 10px auto;" novalidate> 
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" placeholder="title..." name="product[title]" value="<%=blog.title%>" required>
      </div>
    <div class="mb-3">
        <label for="img" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="img" placeholder="url..." name="product[img]" value="<%=blog.img%>" required>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" placeholder="author" name="product[author]"value="<%=blog.author%>" required>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
       <textarea name="product[desc]" class="form-control" id="desc" cols="30" rows="5"  required>value="<%=blog.desc%>"</textarea>
      </div>
    
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-success">Done</button>
  </form>
</div>

  <%- include('../partials/footer')%>
 
