<%- include('../partials/header')%>
<%- include('../partials/navbar')%> 

   
      
       <main class="container">

        <%- include('../partials/flash')%>

        <section id="heading" class="section">
            <h1 class="head">My Blogs <span class="span2"><i class="fas fa-blog"></i></span></h1>
        </section>


        <div class="row blog">  
            <%for(let item of blogs) {%>
                <div class="col-lg-6">
                <div class="card mb-5" style="width: 32rem; height: 750px;" >
            <img src="<%=item.img%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title mb-4"><%=item.title%></h3>
              <!-- <h5 class="card-title"><span class="span">Author - </span><%=item.author%></h5> -->
              <p class="card-text"><%=item.desc%></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <a href="/blogs/<%=item._id%>" class="btn btn-outline-success">More Info</a>
            </div>
          </div>
        </div>
            <%}%>
        </div>
    </div>
       
 </main>


    <%- include('../partials/footer')%>